table {
  width: 100%;
  margin: auto;
}

.mat-form-field {
  margin: 0 135px auto;
}

mat-paginator {
  width: 100%;
  margin: auto;
}

.hide{
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
